@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');

body{
    margin: 0;
    font-family: 'Manrope', sans-serif;
}

body * {
    box-sizing: border-box;
    overflow: hidden;
}

.main-login{
    width: 100vw;
    height: 100vh;
    background: #201b2c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login > h1{
    font-size: 3vw;
    color: #77ffc0;
    padding-left: 10%;
}

.left-login-image{
    width: 35vw;
}

.right-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #2f2841;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000556;
}

.card-login > h1{
    color: #0f8;
    font-weight: 800;
    margin: 0;
}

.textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000556;
    outline: none;
    box-sizing: border-box;
}

.textfield > label{
    color: #f0ffffde;
    margin-bottom: 7px;
    margin-top: 10px;
}

.textfield > input::placeholder{
    color: #f0ffff94;
}

select {
    font-size: 16px; /* tamanho da fonte */
    padding: 10px; /* espaço interno da caixa de seleção */
    border: 2px solid #ccc; /* borda da caixa de seleção */
    border-radius: 4px; /* cantos arredondados da caixa de seleção */
    background-color: #fff; /* cor de fundo da caixa de seleção */
    color: #333; /* cor do texto selecionado */
  }
  
select:focus {
    outline: none; /* remove o contorno quando a caixa de seleção está em foco */
    border-color: #0066cc; /* borda da caixa de seleção quando em foco */
}

.btn-tela-login{
    width: 100%;
    padding: 16px 0px;
    margin: 10px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    background: #0f8;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}

footer {
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
    text-align: center;
    font-size: 16px;
    color: #0f8;
}


@media only screen and (max-width: 950px){
    .card-login{
        width: 85%;
    }
}

@media only screen and (max-width: 600px){
    .main-login{
        flex-direction: column;
    }
    .left-login > h1{
        display: none;
    }

    .left-login{
        width: 100%;
        height: auto;
    }

    .right-login{
        width: 100%;
        height: auto;
    }

    .left-login-image{
        width: 60vw;
    }

    .card-login{
        width: 90%;
    }
}
